<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 配置SpringMVC的自动扫描 -->
	<context:component-scan base-package="com.xiaoy"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
		<!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" 
			/> -->
	</context:component-scan>
	<!-- 使用CGLib动态代理技术织入增强 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 扫描SpringMVC的注解 -->
	<mvc:annotation-driven />
	<!-- 静态资源访问 -->
	<mvc:resources location="/foreground/resource/" mapping="/foreground/resource/**" />
	<mvc:resources location="/resource/" mapping="/resource/**" />

	<!-- 启用spring mvc 注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="jsonConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- Spring MVC JSON配置 -->
	<!-- <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"> -->
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"> 
		<property name="messageConverters"> <list> <bean id="fastJsonHttpMessageConverter" 
		class="com.xiaoy.util.FastJsonHttpMessageConverter"> <property name="supportedMediaTypes"> 
		<list> <value>text/html;charset=UTF-8</value> <value>application/json;charset=UTF-8</value> 
		</list> </property> </bean> </list> </property> </bean> -->

	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 配置最大上传文件的大小，以字节为单位计算。当设为-1时表示无限制，默认是-1。 -->
		<property name="maxUploadSize" value="-1" />
	</bean>

	<!-- 处理静态资源 <mvc:default-servlet-handler /> -->
</beans>