<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- 项目名称 -->
	<display-name>OnlineEquipment</display-name>

	<!-- 指定spring相关文件的位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-hibernate-druid.xml</param-value>
	</context-param>

	<!-- 配置字符集过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- 配置项目的编码mapping -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 防止session被提前关闭状 -->
	 <filter>
	   <filter-name>OpenSessionInViewFilter</filter-name>
	   <filter-class>
	       org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
	   </filter-class>
	 </filter>
	 <filter-mapping>
	   <filter-name>OpenSessionInViewFilter</filter-name>
	   <url-pattern>/*</url-pattern>
	 </filter-mapping>

	<!-- druid数据源Web监控配置 -->
	<filter>
		<filter-name>druidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/css/*,/style/*,/jslib/*,*.js,*.css,/druid*,/attached/*,*.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>sessionInfo</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- druid数据源Web监控配置mapping -->
	<filter-mapping>
		<filter-name>druidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 开启spring监听 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 加载系统配置文件监听 -->
	<listener>
		<listener-class>com.xiaoy.listener.LoadSystemConfigListener</listener-class>
	</listener>
	
	<!-- 加载属性配置文件监听 -->
	<listener>
		<listener-class>com.xiaoy.listener.LoadPropertyListenter</listener-class>
	</listener>
	
	<!-- 防止内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- 配置spring mvc -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- Shiro配置
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->

	<!-- druid监控页面，使用${pageContext.request.contextPath}/druid/index.html访问 -->
	<servlet>
		<servlet-name>druidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<!-- druid监控页面mapping -->
	<servlet-mapping>
		<servlet-name>druidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>

	<!-- 配置静态资源不经过spring mvc -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.doc</url-pattern>
		<url-pattern>*.xls</url-pattern>
		<url-pattern>*.docx</url-pattern>
		<url-pattern>*.xlsx</url-pattern>
		<url-pattern>*.txt</url-pattern>
		<url-pattern>*.swf</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>*.ttf</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.eot</url-pattern>
		<url-pattern>*.otf</url-pattern>
	</servlet-mapping>

	<!-- 配置session超时时间，单位分钟 -->
	<session-config>
		<session-timeout>35</session-timeout>
	</session-config>

	<!-- 设置欢迎页面 -->
	<welcome-file-list>
		<welcome-file>/link.jsp</welcome-file>
		<welcome-file>/index.jsp</welcome-file>
		<welcome-file>/init.jsp</welcome-file>
	</welcome-file-list>

	<!-- 找不到页错误转向 <error-page> <error-code>404</error-code> <location>/error/404.jsp</location> 
		</error-page> -->
	<!-- 系统内部错误转向 <error-page> <error-code>500</error-code> <location>/error/500.jsp</location> 
		</error-page> -->
</web-app>